.wrapper {
    --height-search: 46px;
    --width-search-buttons: 40px;

    //set up variable
    height: var(--primary-height-header);
    width: 100%;
    box-shadow: 0px 1px 1px rgb(0 0 0 / 12%);
    display: flex;
    justify-content: center;
}

.inner {
    height: 100%;
    width: var(--primary-width-display);
    display: flex;
    padding: 0 28px 0 20px;
    align-items: center;
    justify-content: space-between;
}
.logo {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.search-result,
.search {
    width: 344px;
}

.search {
    display: flex;
    align-items: center;
    height: var(--height-search);
    min-width: 361px;
    border-radius: 92px;
    padding: 12px 0px 12px 16px;
    overflow: hidden;
    justify-content: space-between;
    background: rgba(22, 24, 35, 0.06);
    &:focus-within {
        border: 1px solid #ccc;
    }
    input:not(:placeholder-shown) ~ .search-btn {
        color: rgba(22, 24, 35, 0.75);
    }
    input:not(:placeholder-shown) ~ .search-buttons {
        display: block;
    }
}
.search-input {
    caret-color: rgba(254, 44, 85, 1);
    background: transparent;
    font-size: 1.6rem;
    flex: 1;
    width: 22px;
}

.search-buttons {
    position: relative;
    width: var(--width-search-buttons);
    height: 16px;
    display: none;
}

.search-delete,
.search-loading {
    position: absolute;

    color: rgba(22, 24, 35, 0.4);
    left: 50%;
    transform: translateX(-50%);
}
.search-loading {
    display: none;
}

.search-title {
    height: 30px;
    padding: 5px 12px;
    font-size: 14px;
    line-height: 20px;
    font-weight: 600;
    color: rgba(22, 24, 35, 0.5);
}

.search-btn {
    font-size: 2.4rem;
    font-weight: 500;
    position: relative;
    height: var(--height-search);
    padding: 11px 16px 11px 12px;
    color: rgba(22, 24, 35, 0.35);
    align-items: center;
    &:before {
        content: '';
        position: absolute;
        border-style: solid;
        border-width: calc(var(--width-search-buttons) - 13px * 2) 0.1px;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
        border-color: rgba(22, 24, 35, 0.12);
    }

    &:hover {
        background-color: rgba(22, 24, 35, 0.03);
    }
}
.action {
    display: flex;
    .login {
        padding: 6px 0px;
    }
    // isLogin = true
    .chat-box {
        background-color: transparent;
        font-size: 2.2rem;
        padding: 0px 16px;
        cursor: pointer;
        margin: 0 4px;
    }
}

.avatar-img {
    height: 32px;
    width: 32px;
    border-radius: 50%;
    background-size: cover;
    margin-left: 8px;
    user-select: none;
}
// menu

.menu-items {
    padding: 8px 8px;
    background-color: var(--white);
    margin-left: 16px;
    font-size: 1.6rem;
}
